$marron_oscuro: #584c42;
$marron_medio: #9e7a4d;
$marron_claro: #c8b49c;
$beige_oscuro: #d8c6aa;
$beige_claro: #e6d3b6;
$gris_claro: #e6e6e6;
$verde_gris_claro: #d6e3d3;
$verde_oscuro: #4c5b5c;
$verde_suave: #b1d0b1;
$verde_claro: #a4c4a8;
$negro_bs: #212529;
